#app {
  text-align: center;
  margin: 20px;
}

#weather-list {
  min-height: 77vh;
  list-style: none;
}

#list-titles, #list-chart {
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}


