#form-new-post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.field-div {
    margin: 10px;
}

.field-div label, .field-div input {
    padding: 10px;
}

#form-new-post button {
    background-color: #3F51B5;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 40px;  
}

#form-new-post button:hover, #form-new-post a:hover {
    color: #C5CAE9;
}

#form-new-post a {
    background-color: #FF9800;
    border-radius: 10px;
    padding: 7px 10px;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 40px;  
}
