#links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

#links button {
    background-color: #FF9800;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;
    margin-right: 40px;  
}

#links > a {
    background-color: #3F51B5;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 18px;
    color: whitesmoke;
    text-decoration: none;
    margin-left: 40px;  
}

#links button:hover, #links a:hover {
    color: #C5CAE9;
}

#single-post-details {
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #212121;
}

#tags {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

#tags li {
    color: #303F9F;
    padding: 2px 5px;
    font-size: 20px;
    background-color: #BDBDBD;
    border-radius: 10px;
    margin-left: 5px;
}

#post-content {
    margin: 0 40px;
    line-height: 30px;
}



