#series-container {
    min-height: 86vh;
    margin-top: 30px;
}

#series-container p {
    text-align: center;
}

#series-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    overflow: auto;
    resize: horizontal;
    grid-row-gap: 20px;
    grid-column-gap: 10px;
    text-align: center;
    margin-top: 20px;
    list-style: none;
}

#series-list li {
    border: 1 px solid #F44336;
    border-radius: 20px;
}

#series-list li:hover {
    background-color: #F44336;
    background-color: #FFEB3B;
    color: #FFFFFF;
}